<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <!--////////////////////////////////////////////// ngModel //////////////////////////////////////////////////////////////-->
  <!-- <input type="text" [(ngModel)]="value">
  <h1>{{value}}</h1> -->
  
  <!-- /////////////////////// two way binding through event property /////////////////////////////////////
  <input type="text" (input)="submit($event)">
    <span>{{value}}</span> -->

    <!-- <><><><><><><><><><><><><><>Hide and Unhide container using event bind0ing and property binding<><><><><><><><><><><><><><><><>
    <div class="container" [hidden]="hide"></div>
    <button (click)="hidefunction()">{{hidetxt}}r</button> -->
    

    <!-- <><><><><><><><><><><><><><>[ngStyle]<><><><><><><><><><><><><><> -->

    <!-- <div *ngFor="let n of [1,2,3,4,5,6,7,8,9,0]">
      <div [ngStyle]="{color: n%2==0? 'green' : 'red' }">Number is {{n}}</div>
    </div> -->

    <!-- <><><><><><><><><><><><><><>[ngStyle]<><><><><><><><><><><><><><> -->

    <!-- <div class="ngif">
      <input type="text" [(ngModel)]="value"><span *ngIf="value!==''">You have texted {{value}}</span>
    </div> -->

</body>
</html>